include/AR/config.h

# xcode project
*.xcscheme
*.xcodeproj
*.plist

# vim
*.swp
*~

# remove bin


# remove doc
doc/*

# librarys
*.a
*.dylib

# cscope files
cscope*.out

# ctags
tags
ctags.files

# vs
*.sdf
*.opensdf
*.user
*.suo
*.obj
*.pdb
*.idb
AR*.dll
AR*.lib
KPM*.lib
*.exe
*.xml
*.txt
*.exp
*.gif
*.avi
VisualStudio/vs120/Debug/*
VisualStudio/vs120/Release/*