include/AR/config.h

# xcode project
*.xcscheme
*.xcodeproj
*.plist

# vim
*.swp
*~

# remove bin
bin/*

# remove doc
doc/*

# librarys
*.a
*.dylib

# cscope files
cscope.*

# ctags
tags
ctags.files

# vs
*.sdf
*.opensdf
*.user
*.suo
*.obj
*.pdb
*.idb
*.dll
AR*.lib
*.exe
*.xml

*.txt
*.exp
*.gif
*.avi
VisualStudio/vs120/Debug/*
VisualStudio/vs120/Release/*