include/AR/config.h

# xcode project
*.xcscheme
*.xcodeproj
*.plist

# vim
*.swp
*~

# remove bin


# remove doc
doc/*

# librarys
*.dylib

# cscope files
cscope*.out

# ctags
tags
ctags.files

# vs
*.sdf
*.opensdf
*.user
*.suo
*.obj
*.pdb
*.idb
AR*.dll
AR*.lib
KPMd.lib
*.exe
*.txt
*.exp
*.gif
*.avi
VisualStudio/vs120/Debug/*
VisualStudio/vs120/Release/*

# android
*.d
*.o
android/libs/*
AndroidStudio/NFTSimple/*gradle/*
AndroidStudio/NFTSimple/*idea/*
AndroidStudio/NFTSimple/aRBaseLib/build/*
AndroidStudio/NFTSimple/nftSimple/build/*
AndroidStudio/NFTSimple/build/*
AndroidStudio/NFTSimple/nftSimple/src/main/libs/armeabi-v7a/libARWrapper.so
AndroidStudio/NFTSimple/nftSimple/src/main/libs/armeabi/libARWrapper.so
android/obj/local/armeabi/libARWrapper.so
android/obj/local/armeabi-v7a/libARWrapper.so
AndroidStudio/NFTSimple/nftSimple/src/main/jniLibs/armeabi/libnftSimpleNative.so
AndroidStudio/NFTSimple/nftSimple/src/main/jniLibs/armeabi/libc++_shared.so
AndroidStudio/NFTSimple/nftSimple/src/main/jniLibs/armeabi-v7a/libnftSimpleNative.so
AndroidStudio/NFTSimple/nftSimple/src/main/jniLibs/armeabi-v7a/libc++_shared.so
*.tlog
AndroidStudio/NFTSimple/VisualStudio/NFTSimpleNative/Debug/NFTSimpleNative.log
AndroidStudio/NFTSimple/local.properties
AndroidStudio/NFTSimple/NFTSimple.iml